<%= simple_form_for(@shipping) do |f| %>
  <% if @shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>
      <% @shipping.errors.full_messages.each do |message| %>
        <div class="alert alert-danger">  
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row">
      <div class="col-md-6">
        <%= f.input :email, label: "Email (Required)",placeholder: 'contact@windowsofworlds.com', input_html: {class: "form-control", value: @email}  %>
        <%= f.input :address, label: "Addredd (Required)", placeholder: '30 West Miffilin Madison WI 53703', input_html: {class: "form-control"} %>
        <%= f.input :promo, as: :hidden, input_html: {class: "form-control", value: @promo} %>
      </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: 'btn btn-u' %>
  </div>
<% end %>
