<div class="container top-space">
  <br>
  <h1 class='text-center'>This is an <em><strong><u>annual</u></strong></em> subscription</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <% if params[:plan_name] == 'window' %>
        <div class="form-group text-center">
            <%= form_tag subscribe_path(987654356789), method: :put do %>
              <h1>Window Sponsorship</h1>
              <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
              <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
              <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
              <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Window Sponsorship"
                data-amount="2000">
              </script>
            <% end %>
        </div>
      <% elsif params[:plan_name] == 'world'%>
        <div class="form-group text-center">
            <%= form_tag subscribe_path(8734002), method: :put do %>
              <h1>World Sponsorship</h1>
              <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
              <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
              <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
              <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="World Sponsorship"
                data-amount="5000">
              </script>
            <% end %>
        </div>
      <% elsif params[:plan_name] == 'star'%>
        <div class="form-group text-center">
          <%= form_tag subscribe_path(349867578729), method: :put do %>
            <h1>Star Sponsorship</h1>
            <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
            <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
            <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Star Sponsorship"
              data-amount="10000">
            </script>
          <% end %>
        </div>
      <% elsif params[:plan_name] == 'window_paid'%>
        <div class="form-group text-center">
          <%= form_tag subscribe_path(4985056993), method: :put do %>
            <h1>Window Sponsorship (PAID)</h1>
            <h4><strong><u>This page is for those who have already contributed via cash or check</u></strong></h4>
            <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
            <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
            <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
            <h4>Remain Anonymous: <%= radio_button_tag(:promo, "none") %></h4>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Star Sponsorship"
              data-amount="10000">
            </script>
          <% end %>
        </div>
      <% elsif params[:plan_name] == 'world_paid'%>
        <div class="form-group text-center">
          <%= form_tag subscribe_path(4578298457838), method: :put do %>
            <h1>World Sponsorship (PAID)</h1>
            <h4><strong><u>This page is for those who have already contributed via cash or check</u></strong></h4>
            <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
            <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
            <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
            <h4>Remain Anonymous: <%= radio_button_tag(:promo, "none") %></h4>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Star Sponsorship"
              data-amount="10000">
            </script>
          <% end %>
        </div>
      <% else %>
        <div class="form-group text-center">
          <%= form_tag subscribe_path(9193048359), method: :put do %>
            <h1>Star Sponsorship (PAID)</h1>
            <h4><strong><u>This page is for those who have already contributed via cash or check</u></strong></h4>
            <h4>Individual: <%= radio_button_tag(:promo, "individual") %></h4>
            <h4>Promote my <u><strong>Band</strong></u>: <%= radio_button_tag(:promo, "band") %></h4>
            <h4>Promote my <u><strong>Business</strong></u>: <%= radio_button_tag(:promo, "business") %></h4>
            <h4>Remain Anonymous: <%= radio_button_tag(:promo, "none") %></h4>
            <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Star Sponsorship"
              data-amount="10000">
            </script>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12">
      <%= image_tag "hoop.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
    </div>
  </div>
  <hr>
  <p class="text-center">Stripe's processing fee is (2.9% + $0.30). </p>
  <p class="text-center">All sponsorships are non-refundable.</p>
  <p class='text-center'>To cancel your sponsorship subscription for next year, e-mail:</p>
  <p class="text-center"><%= mail_to 'windowsofworlds@gmail.com' %></p>
</div>






