<%= simple_form_for(@biz_promo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-group">
    <div class="row form-group">  
      <div class="col-md-4 form-group">
        <%= f.input :logo, as: :file %>
        <%= f.input :business_name, label: "Business Name", input_html: {class: "form-control"} %>
        <%= f.input :twitter_handle, label: "Twitter Username", input_html: {class: "form-control", value: "@"} %>
        <%= f.input :website_url, label: "Website URL", input_html: {class: "form-control"} %>
        <%= f.input :facebook_url, label: "Facebook URL", input_html: {class: "form-control"} %>
        <%= f.input :instagram_handle, label: "Instagram Username", input_html: {class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: 'btn btn-u' %>
  </div>
<% end %>
