<div class="container top-space">
  <h1 class="text-center">Musician Sponsors</h1>
   <div class='row'> 
    <div class='col-md-4 col-md-offset-4 col-xs-12 col-sm-12'>
      <h4 class='text-center'> Below you'll find musicians that have sponsored frames to support the cause of empowering people through Art. Check them out and show some love!</h4>
    </div>
  </div>
  <% @bands.each do |band| %>
    <div clas='row'> 
      <div class='col-md-4'> 
        <h2 class='text-center'><%= band.band_name %></h2>
        <%= image_tag(band.logo.url(:p350x350)) %>
        <br>
        <br>
        <div class="text-center">
          <ul class="social-icons">
            <% if !band.fb_link.empty? %>
              <li><%= link_to band.fb_link, "#{band.fb_link}/", 'target'=>"_blank", 'data-original-title'=>"Facebook", class: "social_facebook rounded-x" %></li>
            <% end %>

            <% if !band.twitter_handle.empty? %>
              <li><%= link_to band.twitter_handle, "https://twitter.com/#{band.twitter_handle}/", 'target'=>"_blank", 'data-original-title'=>"Twitter", class: "social_twitter rounded-x" %></li>
            <% end %>
            
            <% if !band.insta_link.empty? %>
              <li><%= link_to band.insta_link, "https://instagram.com/#{band.insta_link}/", 'target'=>"_blank", 'data-original-title'=>"Instagram", class: "social_instagram rounded-x" %></li>
            <% end %>
        </ul>
          <% if band.website_link.empty? %>
            <p> Website: None</p>
          <% else %>
            <p> Website: <%= band.website_link %></p>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
