
    <!--=== Header ===-->    
    <!--=== End Header ===-->    

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <%= image_tag "pinkgirl.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="800"
                            data-start="2000"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            SOMETHING ABOUT THE MISSION
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="200"
                            data-speed="1000"
                            data-start="3000"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                            Something to compliment the above statement
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="360"
                            data-speed="800"
                            data-start="3500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                        </div>
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                        <!-- MAIN IMAGE -->
                        <%= image_tag "pinkgirl.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            SOMETHING INSPIRATIONAL
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="200"
                            data-speed="1000"
                            data-start="2500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                            A little something else                         
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="360"
                            data-speed="800"
                            data-start="3500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
                        <!-- MAIN IMAGE -->
                        <%= image_tag "pinkgirl.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>

                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="110"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            POSSIBLE OBJECTIVES
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sfb"
                            data-x="center"
                            data-hoffset="0"
                            data-y="210"
                            data-speed="800"
                            data-start="2500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                            Something else here
                        </div>

                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sfb"
                            data-x="center"
                            data-hoffset="0"
                            data-y="370"
                            data-speed="800"
                            data-start="3500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                        </div>
                    </li>                    
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
                <div class="tp-dottedoverlay twoxtwo"></div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->

    <!--  About Section -->
    <section id="about" class="about-section section-first">

        <div class="about-image ">
            <div class="container">
                <div class="title-v1">
                    <h1>We are Window Of Worlds</h1>
                    <p>In its fifth year, Windows of Worlds (i.e. WoW) is an annual community building art project. <br> The message of WoW is that everyone has a unique window in which they view the world &amp; <br> that we can connect through our diversity!</p>                
                </div>
                <div class="img-center">
                    <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
                </div>
            </div>
        </div>      

        <div class="block-v1 bg-grey">
            <div class="container">
                <div class="row content-boxes-v3">
                    <div class="col-md-4 md-margin-bottom-30">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-lightbulb-o"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Value 1</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="col-md-4 md-margin-bottom-30">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-flask"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Value 2</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-bolt"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Value 3</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>  

        <section id="services">
            <div class="container content-lg">
                        <div class="title-v1">
                            <h2>Support Our Cause</h2>
                            <p>We do <strong>things</strong> differently company providing key digital services. <br> 
                            Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>                
                        </div>            
                
                        <div class="row service-box-v1">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block service-block-default">
                                    <i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>
                                    <h2 class="heading-md">Basic Plan</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                                    <ul class="list-unstyled">
                                        <li>Logo &amp; Brand Design</li>
                                        <li>Mobile Development</li>
                                        <li>E-commerce</li>
                                        <li>App &amp; Icon Design</li>
                                        <li>Responsive Web Desgin</li>
                                    </ul>      
                                    <%= link_to "Support", "/subscribe/new?plan_name=basic", class: 'btn btn-u col-md-6 col-md-offset-3' %>
                                    <br>                  
                                    <br>                  
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block service-block-default">
                                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-present"></i>
                                    <h2 class="heading-sm">Advanced Plan</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                                    <ul class="list-unstyled">
                                        <li>Analysis &amp; Consulting</li>
                                        <li>Mobile Development</li>
                                        <li>Email Marketing</li>
                                        <li>App &amp; Icon Design</li>
                                        <li>Responsive Web Desgin</li>
                                    </ul>   
                                    <%= link_to "Support", "/subscribe/new?plan_name=advanced", class: 'btn btn-u col-md-6 col-md-offset-3' %>
                                    <br>                     
                                    <br>                     
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="service-block service-block-default">            
                                    <i class="icon-custom icon-lg icon-bg-u rounded-x icon-line icon-rocket"></i>
                                    <h2 class="heading-sm">Standard Plan</h2>
                                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                                    <ul class="list-unstyled">
                                        <li>Google AdSense</li>
                                        <li>Social Media</li>
                                        <li>Display Advertising</li>
                                        <li>App &amp; Icon Design</li>
                                        <li>Analysis &amp; Consulting</li>
                                    </ul>      
                                    <%= link_to "Support", "/subscribe/new?plan_name=standard", class: 'btn btn-u col-md-6 col-md-offset-3' %>
                                    <br>                  
                                    <br>                  
                                </div>
                            </div>
                        </div>
            </div>
        </section>
        


        <div class="container content-lg">
            <div class="title-v1">
                <h2>Our Vision And Mission</h2>
                <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br> 
                We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
            </div>

            <div class="row">
                <div class="col-md-6 content-boxes-v3 margin-bottom-40">
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-trophy"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Innovation Leader</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-directions"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Best Solutions &amp; Approaches</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30">
                        <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-diamond"></i>
                        <div class="content-boxes-in-v3">
                            <h2 class="heading-sm">Quality Service &amp; Support</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>  
                </div>
            </div>
        </div>        

        <div class="parallax-quote parallaxBg">
            <div class="container">
                <div class="parallax-quote-in">
                    <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
                    <small>- HtmlStream -</small>
                </div>
            </div>
        </div>        

        <div class="team-v1 bg-grey content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Meet Our Team</h2>
                    <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br> 
                    We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p>
                </div>

                <ul class="list-unstyled row">
                    <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                        <div class="team-img">
                            <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>John Brown</h3>
                        <h4>/ Technical Director</h4>
                        <p>Technical Director mi porta gravida at eget metus id elit mi egetine...</p>
                    </li>
                    <li class="col-sm-3 col-xs-6 md-margin-bottom-30">
                        <div class="team-img">
                            <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Tina Krueger</h3>
                        <h4>/ Lead Designer</h4>
                        <p>Lead Designer mi porta gravida at eget metus id elit mi egetine...</p>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                        <div class="team-img">
                            <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>David Case</h3>
                        <h4>/ Web Developer</h4>
                        <p>Web Developer in Unify agency porta gravida at eget metus id elit...</p>
                    </li>
                    <li class="col-sm-3 col-xs-6">
                        <div class="team-img">
                            <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <h3>Kathy Reyes</h3>
                        <h4>/ Creative Designer</h4>
                        <p>Former Designer in Twitter non mi porta gravida at elit mi egetine...</p>
                    </li>
                </ul>                
            </div>
        </div>

    </section>
    <!--  About Section -->

    <!-- Services Section -->
    <section>
        
        <ul class="list-unstyled row portfolio-box-v1">
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
        </ul>
        <br>
        <br>
        <ul class="list-unstyled row portfolio-box-v1">
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
            <li class="col-sm-3">
                <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
            </li>
        </ul>

    </section>
    <!-- End Services Section -->

    <!-- News Section -->
    <section id="news" class="news-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Latest News</h2>
                <p>We do <strong>things</strong> differently company providing key digital services. <br> 
                Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p>             
            </div>

            <div class="row news-v1">
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="news-v1-in">
                    <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                        <h3><a href="#">Focused on helping our clients to build a successful business</a></h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <ul class="list-inline news-v1-info">
                            <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 md-margin-bottom-40">
                    <div class="news-v1-in">
                    <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                        <h3><a href="#">We build your website to realise your vision and best product</a></h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <ul class="list-inline news-v1-info">
                            <li><span>By</span> <a href="#">John Clarck</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-v1-in">
                    <%= image_tag "pinkgirl2.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                        <h3><a href="#">Focused on helping our clients to build a successful business</a></h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
                        <ul class="list-inline news-v1-info">
                            <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End News Section -->

    <!-- Contact Section -->
    <section id="contact" class="contacts-section">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Contact Us</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
                It has been the industry's standard dummy text.</p>
            </div>

            <div class="row contacts-in">
                <div class="col-md-6 md-margin-bottom-40">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i> 5B Streat, City 50987 New Town US</li>
                        <li><i class="fa fa-phone"></i> 1(800) 220 084</li>
                        <li><i class="fa fa-envelope"></i> <a href="info@example.com">info@example.com</a></li>
                        <li><i class="fa fa-globe"></i> <a href="http://htmlstream.com">www.htmlstream.com</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">
                        <fieldset>
                            <label>Name</label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>                
                            </div>
                            
                            <label>Email <span class="color-red">*</span></label>
                            <div class="row">
                                <div class="col-md-7 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <input type="text" name="email" id="email" class="form-control">
                                    </div>
                                </div>                
                            </div>
                            
                            <label>Message</label>
                            <div class="row">
                                <div class="col-md-11 margin-bottom-20 col-md-offset-0">
                                    <div>
                                        <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                    </div>
                                </div>                
                            </div>
                            
                            <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark">Send Message</button></p>
                        </fieldset>

                        <div class="message">
                            <i class="rounded-x fa fa-check"></i>
                            <p>Your message was successfully sent!</p>
                        </div>
                    </form> 
                </div>
            </div>            
        </div>
    </section>