
<section id="intro" class="intro-section">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <!-- SLIDE 1 -->
        <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <!-- MAIN IMAGE -->
          <%= image_tag "new_wow.png",'background-size'=>'contain', class: 'home-full' %>
          <!-- LAYER -->
          <div class="tp-caption rs-caption-3 sft"
            data-x="center"
            data-hoffset="0"
            data-y="360"
            data-speed="800"
            data-start="3500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
          </div>
        </li>
        <!-- SLIDE 2 -->
        <li data-transition="slideup" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <!-- MAIN IMAGE -->
          <%= image_tag "WOW-Eng.jpg" %>

          <!-- LAYERS -->
            <div class="tp-caption rs-caption-1 sft start"
              data-x="center"
              data-hoffset="0"
              data-y="100"
              data-speed="800"
              data-start="1500"
              data-easing="Back.easeInOut"
              data-endspeed="300">
              Engage
            </div>
          <!-- LAYER -->
          <div class="tp-caption rs-caption-2 sft"
            data-x="center"
            data-hoffset="0"
            data-y="200"
            data-speed="1000"
            data-start="2500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
            Hand built picture frames are taken into the community for people to project <br>their world onto. Their dreams. Their aspirations. Their struggles. <br> Whatever makes them who they are.                        
          </div>

          <!-- LAYER -->
          <div class="tp-caption rs-caption-3 sft"
            data-x="center"
            data-hoffset="0"
            data-y="360"
            data-speed="800"
            data-start="3500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
          </div>
        </li>
        <!-- SLIDE 3 -->
        <li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <!-- MAIN IMAGE -->
          <%= image_tag "connect-wow.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>

          <!-- LAYERS -->
          <div class="tp-caption rs-caption-1 sft start"
            data-x="center"
            data-hoffset="0"
            data-y="110"
            data-speed="800"
            data-start="1500"
            data-easing="Back.easeInOut"
            data-endspeed="300">
            Connect
          </div>

          <!-- LAYER -->
          <div class="tp-caption rs-caption-2 sfb"
            data-x="center"
            data-hoffset="0"
            data-y="210"
            data-speed="800"
            data-start="2500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
            Each picture frame comes together for a public art installation at<br> Edgewood College. Floating throughout campus, everyone having <br> a unique world view can be witnessed.
          </div>

          <!-- LAYER -->
          <div class="tp-caption rs-caption-3 sfb"
            data-x="center"
            data-hoffset="0"
            data-y="370"
            data-speed="800"
            data-start="3500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
          </div>
        </li> 
        <!-- SLIDE 4 -->
        <li data-transition="slideup" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <!-- MAIN IMAGE -->
          <%= image_tag "repeat-wow.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>

          <!-- LAYERS -->
          <div class="tp-caption rs-caption-1 sft start"
            data-x="center"
            data-hoffset="0"
            data-y="110"
            data-speed="800"
            data-start="1500"
            data-easing="Back.easeInOut"
            data-endspeed="300">
            Repeat
          </div>

          <!-- LAYER -->
          <div class="tp-caption rs-caption-2 sfb"
            data-x="center"
            data-hoffset="0"
            data-y="210"
            data-speed="800"
            data-start="2500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
            Frames that aren't kept from the previous years are taken <br>and primed over, allowing each frame to become<br> layered with multiple world views.
          </div>

          <!-- LAYER -->
          <div class="tp-caption rs-caption-3 sfb"
            data-x="center"
            data-hoffset="0"
            data-y="370"
            data-speed="800"
            data-start="3500"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6">
          </div>
        </li>   
      </ul>
    </div>
  </div>
</section>
<!-- End Intro Section -->

<!--  About Section -->
<section id="about" class="about-section section-first">
  <div class="about-image ">
    <div class="container">
      <div class="title-v1">
        <h1>Windows of Worlds</h1>
        <p>In its fifth year, Windows of Worlds is an annual community building art project. <br> The message of WoW is that everyone has a unique window in which<br> they view the world &amp;  that we can connect through our diversity!</p>   
        <br>             
        <h3 class="text-center">Exhibit Date: September 27 - October 11, 2015</h3>
        <h3 class="text-center">Location: 1000 Edgewood College Dr.</h3>
      </div>
      <div class="img-center col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/S-FUddk7lXY" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <p class='text-center'> GESWERK has merged with 100state becoming 100arts. 100arts produces Windows of Worlds.</p>
      </div>            
    </div>
  </div>   
  <section id="support">
<!--     <div class='container'>
        <div class='col-md-6 col-md-offset-3'>
          <%= image_tag "wow_poster.png", 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
        </div>
    </div> -->
    <div class="container content-lg">
      <div class="title-v1">
        <h2>Support</h2>
        <p>With $100, we can give 5 people the opportunity to connect through creativity <br> &amp; bless our community with something great! Donations cover all supplies<br> including but not limited to: paint, paint brushes &amp; wood for frames.</p>
      </div>                         
      <div class="service-box-v1">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="service-block service-block-default">
            <h2 class="heading-lg">Window Sponsor</h2>
            <%= image_tag "window.png", class: 'img-responsive icons', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat'   %>
            <ul class="list-unstyled">
              <li>Grants 1 Frame</li>
              <li>Special Thanks</li>
            </ul>      
            <%= link_to "$20/Yr", "/subscribe/new?plan_name=window", class: 'btn btn-u col-md-6 col-md-offset-3' %>
            <br>                  
            <br>                  
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="service-block service-block-default">
            <h2 class="heading-lg">World Sponsor</h2>
            <%= image_tag "world.png", class: 'img-responsive icons', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat'   %>
            <ul class="list-unstyled">
              <li>Grants 2 Frames</li>
              <li>W.o.W. T-Shirt</li>
            </ul>   
            <%= link_to "$50/Yr", "/subscribe/new?plan_name=world", class: 'btn btn-u col-md-6 col-md-offset-3' %>
            <br>                     
            <br>                     
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="service-block service-block-default">            
            <h2 class="heading-lg">Star Sponsor</h2>
            <%= image_tag "star.png", class: 'img-responsive icons', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat'   %>
            <ul class="list-unstyled">
              <li>Grants 5 Frames</li>
              <li>Featured Online</li>
            </ul>      
            <%= link_to "$100/Yr", "/subscribe/new?plan_name=star", class: 'btn btn-u col-md-6 col-md-offset-3' %>
            <br>                  
            <br>                  
          </div>
        </div>
      </div>
      <p class="text-center">All sponsors will be invited to an annual dinner banquet, where updates will be given<br> about Windows of Worlds &amp; how their dollars impacted the community.<br><br>Date: TBD (Spring, 2016) </p>
      <h4 class='text-center'><strong>All sponsorships are tax deductible!</strong></h4>
    </div>
  </section>
  <div class="parallax-quote parallaxBg">
    <div class="container">
      <div class="parallax-quote-in">
        <div class="title-v1">
          <h2 class='para'>2014 Sponsors</h2>
          <br>
          <p>The businesses that made Windows of Worlds 2014 possible.</p>
          <br>
          <p class="text-center">Florescent Flooring | Hostelling International Madison | ZIP-DANG | HAIR | NessAlla Kombucha</p>
          <p class="text-center">Orange Tree Imports | Monroe St. Merchants | Mystery to Me | Neuhausser Pharmacy</p>
          <p class='text-center'>Budd’s Automotive | HotelRED | Sarah B | Taste of India | Zander’s | The Sewcial</p>
          <p class='text-center'>Olly Olly Oxen T’s  Madison Daoguan | Aaron Perry State Farm Insurance</p>
          <p class='text-center'>Artist &amp; Craftsman Supply | GreenCab of Madison | Jac’s</p>
        </div>
      </div>
      <br>
      <br>
      <div class="parallax-quote-in">
        <div class="title-v1">
          <h2 class='para'>2014 Partners</h2>
          <br>
          <p>The organizations, schools, and events that participated in Windows of worlds 2014.</p>
          <br>
          <p class="text-center">100state | Lussier Community | Support Network | Lindberge Elementary School</p>
          <p class="text-center">Shabazz High | Orchard Ridge Elementary School | Boys &amp; Girls Club | West High</p>
          <p class="text-center">Education Center | Alcohal 101 (COR1) | The Kids House | Salvation Army</p>
          <p class="text-center">Madison Childrens' Museum | Discovery Center for the Arts</p>
          <p class="text-center">Resilience Neighborhood Center | Preschool for the Arts</p>
          <p class="text-center">Monroe St. Fine Arts Center | Mills Neighborhood House</p>
          <p class="text-center">Monroe St. Festival | Madison Urban League</p>
          <p class="text-center">Shangri-La-Farge Fest</p>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>        
  <div class="team-v1 content-lg" id='team'>
    <div class="container">
      <div class="title-v1">
        <h2>The Team</h2>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <ul class="list-unstyled row">
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
              <%= image_tag "brent.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            
          </div>
          <h3 class="text-center">Brent</h3>
          <h4 class="text-center">Creative Director</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
              <%= image_tag "willis.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Fred</h3>
          <h4 class="text-center">Developer &amp; Data Analyst</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
              <%= image_tag "greer.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Michael</h3>
          <h4 class="text-center">Hypeman Extraordinaire</h4>
        </li>        
      </ul>
      <ul class="list-unstyled row">
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "hoban.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Brittany</h3>
          <h4 class="text-center">Graphic Designer</h4>
        </li>
        <li class='col-md-4 col-sm-4 col-xs-12'>
          <div>
          <%= image_tag "daryna.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Daryna</h3>
          <h4 class="text-center">Star Chaser</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "claudia.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Claudia</h3>
          <h4 class="text-center">Outreach Coordinator</h4>
        </li>
      </ul>  
      <ul class="list-unstyled row">
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "craig.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Craig</h3>
          <h4 class="text-center">Collateral Specialist</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "lucas.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center"> Lucas</h3>
          <h4 class="text-center">Construction</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "gray.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>                            
          </div>
          <h3 class="text-center">Graydon</h3>
          <h4 class="text-center">Lead Photographer</h4>
        </li>
      </ul>  
      <ul class='list-unstyled row'>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "barthel.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Kailey</h3>
          <h4 class="text-center">Lead Artist</h4>
        </li>
        <li class="col-md-4 col-sm-4 col-xs-12">
          <div>
            <%= image_tag "brit.jpg", alt: 'Pink Girl', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat', class: 'img-responsive' %>
          </div>
          <h3 class="text-center">Britney</h3>
          <h4 class="text-center">Social Media</h4>
        </li>
      </ul>            
    </div>
  </div>
</section>
<!--  About Section -->
<section>
  <div class="parallax-quote parallaxBg">
    <div class="parallax-quote-in">
      <div class="title-v1">
        <h2 class='para'>Special Thanks</h2>
        <br>
        <%= image_tag 'edgewood.png' %>
        <p>Windows of Worlds would not be where it is without the ongoing support from<br> edgewood college. This institution has been the foundation for all<br> success &amp; community support achieved. </p>
        <div class='row form-group' >  
          <div class='col-md-6 col-sm-12 col-xs-12'> 
            <br>
            <br>
            <br>
            <br>
            <%= image_tag "100state_logo2.png" %>
            <br>
            <p>100state is the organizational whole in which 100arts resides. This dynamic community
            has provided not only walls, but the privilege of invaluable relations that have
            helped to foster the growth of Windows of Worlds.</p>
          </div>
          <div class='col-md-6 col-sm-12 col-xs-12'> 
            <%= image_tag 'zion-city.png' %>
            <br>
            <p>This is a very spiritual place cultivating humanity through the arts. It has graced Windows of Worlds
            with the necessary space needed to store the hundreds of frames throughout winter.
            It is also where all preparations for outreach are done.</p>      
          </div>
        </div>
        <div class='row form-group' >  
          <div class='col-md-6 col-sm-12 col-xs-12'> 
            <br>
            <%= image_tag 'bobs.png', class: 'img-responsive'%>
            <p>There has been a lot of printing done over the years. Bob's Copy Shop has been there since the beginning with unfailing stewardship &amp; smile. </p>
          </div>
          <div class='col-md-6 col-sm-12 col-xs-12'> 
            <%= image_tag 'forest.png' %>
            <p>It's an honor &amp; a privilage to be involved with the production of such an exceptional
            experience. We look forward to bringing a piece of the Windows of Worlds exhibit to Sherwood Forest - again. </p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class='container'>
    <div class='row form-group'>
      <div class='col-md-4'>
        <%= image_tag 'twins.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
      <div class='col-md-4'>
        <%= image_tag 'lean.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
      <div class='col-md-4'>
        <%= image_tag 'man.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
    </div>
    <div class='row form-group'>
      <div class='col-md-3'>
        <%= image_tag 'brush.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
      <div class='col-md-3'>
        <%= image_tag 'pink.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
      <div class='col-md-3'>
        <%= image_tag 'tree.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
      <div class='col-md-3'>
        <%= image_tag 'sitting.jpg', class: 'img-responsive', 'data-bgfit'=> 'cover', 'data-bgposition'=> 'center center', 'data-bgrepeat'=> 'no-repeat' %>
      </div>
    </div>
  </div>
</section>